@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url('../fonts/Inter-ExtraBold.otf');
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url('../fonts/Inter-ExtraBoldItalic.otf');
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url('../fonts/Inter-Regular.otf');
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url('../fonts/Inter-Bold.otf');
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url('../fonts/Inter-BoldItalic.otf');
  font-style: italic;
}
