.call {
  position: relative;

  &__content {
    position: relative;
    height: calc(100vh - #{$menu-height} - #{$footer-height});

    @include onMobile {
      height: calc(100vh - #{$menu-height-mobile} - #{$footer-height-mobile});
    }
  }

  &__deposit {
    position: relative;
    top: 0;
    left: 965px;
    box-sizing: border-box;
    padding-top: 14px;
    height: 86px;
    width: 215px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
    text-align: center;
    background-color: $text-color;
    color: $footer-background;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
    border-radius: 0 0 26px 26px;

    @include onMobile {
      margin-bottom: 24px;

      left: 50px;
      padding-top: 5px;
      height: 26px;
      width: 211px;
      font-size: 11px;
      line-height: 11px;
      text-align: center;

      border-radius: 0 0px 13.32px 13.32px;
    }

    &-amount {
      font-weight: 900;
      font-size: 28px;
      line-height: 34px;
      font-style: italic;

      @include onMobile {
        display: inline-block;
        font-size: 11px;
        line-height: 11px;
      }
    }
  }

  &__registration {
    position: relative;
    margin-bottom: 89px;

    width: 430px;
    height: 80px;

    border-radius: 397px;
    background: $main-green;
    border: none;

    color: $text-color;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;

    overflow: hidden;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    @include onMobile {
      margin-bottom: 0;
      margin-left: 30px;

      width: 263px;
      height: 49px;
      border-radius: 61px;

      font-size: 22px;
      line-height: 33px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -70px;
      width: 100px;
      height: 100%;
      opacity: 0.8;
      background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, .8),
        rgba(255, 255, 255, 0) 70%
      );
      animation: shine 10s infinite linear;
      animation-delay: 2s;
    }

    &:hover {
      box-shadow: 5px 5px 15px 5px #63D737, inset 0px 10px 27px -8px #058048;

      @include onMobile {
        box-shadow: 2px 2px 8px 2px #63D737, inset 0px 5px 14px -4px #058048;
      }
    }
  }
}

.title {
  margin: 0;
  @extend %h1;

  @include onMobile {
    margin-left: 40px;
  }

  &:nth-child(3) {
    padding-left: 75px;

    @include onMobile {
      padding-left: 40px;
    }
  }

  &:nth-child(4) {
    margin-top: -10px;
    margin-bottom: 204px;
    font-size: 56px;
    line-height: 69px;

    @include onMobile {
      margin-top: -5px;
      margin-bottom: 74px;
      font-size: 31px;
      line-height: 38px;
    }
  }
}

@keyframes shine {
  0% {
    left: -70px;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
