$main-green: linear-gradient(102.12deg, #63D737 7.53%, #058048 98.25%);
$text-color: #FFFFFF;
$header-background: linear-gradient(0deg, rgba(22, 26, 22, 0) -37.5%, #161A16 68%);
$footer-background: #293B2B;
$desktop-image-cover: linear-gradient(0deg, rgba(41, 59, 43, 0.35), rgba(41, 59, 43, 0.35)), radial-gradient(58.29% 46% at 50% 54%, rgba(41, 59, 43, 0) 50.26%, #293B2B 100%);
$input-text-color: #D9D9D9;
$footer-height: 360px;
$menu-height: 60px;
$dark-green: #058048;
$menu-height-mobile: 40px;
$footer-height-mobile: 300px;
